<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>New Contact Form Submission</h1>
    <p><strong>Name:</strong> <%= @contact_submission.name %></p>
    <p><strong>Email:</strong> <%= @contact_submission.email %></p>
    <p><strong>Message:</strong></p>
    <p><%= @contact_submission.message %></p>
  </body>
</html>